.container{
    width: 1200px;
    height: auto;
    border: 1px solid black;
    margin: auto;
    background: url('header.jpg');
    background-repeat: no-repeat;
    background-size: 1200px 800px;
    font-family: sans-serif;
}

.kotak{
    width: 1200px;
    height: 800px;
    background-color: black;
    color: black;
    opacity: 0.5;
    display: inline-block;
    margin-top: 0;
}

.navbar ul{
    position: absolute;
    position: fixed;
    top: 0;
    display: flex;
}

.navbar ul li{
    list-style: none;
}

.navbar a{
    text-decoration: none;
    color: white;
    display: flex;
    font-size: 12px;
    margin-left: 45px;
    margin-top: 25px;
}

.navbar a:hover{
    font-weight: bold;
    text-decoration: underline;
}

.header .satu{
    color: white;
    position: absolute;
    top: 25%;
    left: 42%;
}

.header p{
    color: white;
    position: absolute;
    top: 29%;
    left: 40%;
}

.header button{
    position: absolute;
    top: 75%;
    left: 47%;
    border: 1px solid white;
    background: none;
    color: white;
    text-decoration: none;
    font-size: 14px;
    border-radius: 5px;
    padding: 10px 20px;
}

.beach h2{
    margin-left: 75px;
    margin-top: 50px;
}

.beach hr{
    margin: 30px 75px;
    width: 35px;
    height: 2px;
    background: black;
}

.beach p{
    margin-top: 0;  
    margin-left: 75px;
    float: left;
    width: 30%;
}

p.clear{
    clear: left;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.beach button{
    text-decoration: none;
    background: #0DADB3;
    color: white;
    border: none;
    font-size: 14px;
    border-radius: 10px;
    padding: 10px 20px;
}

